#body {
  background: green;
  box-sizing: border-box;
}

.card {
  background: white;
  text-align: center;
  display: inline-block;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  padding-top: 180px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
  font-size: 80px;
}

::before {
  content: \2660;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 80px;
}

::after {
  content: \2660;
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 80px;
}
